hostname = www.google.com
https:\/\/www\.google\.com\/search\?q=gpt(\+|%20)([^&]+).+ url 302 https://chatgpt.com/?q=$2
https:\/\/www\.google\.com\/search\?q=gen(\+|%20)([^&]+).+ url 302 https://www.genspark.ai/search?q=$2
https:\/\/www\.google\.com\/search\?q=gh(\+|%20)([^&]+).+ url 302 https://github.com/search?type=code&q=$2
https:\/\/www\.google\.com\/search\?q=gi(\+|%20)([^&]+).+ url 302 https://chat.openai.com/?sso=$2
https:\/\/www\.google\.com\/search\?q=yd(\+|%20)([^&]+).+ url 302 ‎‏https://yandex.com/images/touch/search?lr=21467&text=$2
https:\/\/www\.google\.com\/search\?q=exa(\+|%20)([^&]+).+ url 302 https://exa.ai/search?q=$2
https:\/\/www\.google\.com\/search\?q=alo(\+|%20)([^&]+).+ url 302 https://alohafind.com/search/?q=$2
https:\/\/www\.google\.com\/search\?q=db(\+|%20)([^&]+).+ url 302 https://dsearch.com/search?q=$2
https:\/\/www\.google\.com\/search\?q=zh(\+|%20)([^&]+).+ url 302 https://yandex.com/images/touch/search?lr=21467&text=$2
https:\/\/www\.google\.com\/search\?q=ru(\+|%20)([^&]+).+ url 302 https://ya.ru/search/?text=$2
https:\/\/www\.google\.com\/search\?git=cod(\+|%20)([^&]+).+ url 302 https://gist.github.com/search?q=$2
https:\/\/www\.google\.com\/search\?q=ka(\+|%20)([^&]+).+ url 302 https://kagi.com/search?q=$2